<h1>To Do list</h1>
<%= link_to "Create a list", new_list_path, class:'create' %>
<% @lists.each do |list| %>
  <div class= 'lists' >
    <%= list.status %>
    <%= link_to list.list_name, list_path(list) %>
    <%= link_to "Delete", list_path(list), method: :delete, data: { confirm: "Es tu sur?"} %>
  </div>
<%end %>
